.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  
    padding: 2px;
    color: black;
    border: 1px solid #d4cbcb;
    cursor: pointer;
  
  }
  
  .button:hover {
      border-color: #5c5c5c;
  }
  
  .button:active {
      background-color: #ede4e4 !important;
  }